$input_width: 40px;
$input_height: 24px;
$circle_diameter: 20px;
$padding: ($input_height - $circle_diameter) / 2;
$translateX: ($input_width - $circle_diameter) - 2 * $padding;
$alpha_filter: 0.1;

.input {
  display: flex;
  align-items: end;
  justify-content: start;
  font-family: Arial, serif;
  font-size: 16px;

  &__text-content {
    align-self: flex-end;
  }

  &__rounded-checkbox {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    width: $input_width;
    height: $input_height;
    -webkit-tap-highlight-color:transparent;
    align-self: flex-end;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__slider {
    border-radius: $input_height;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4a4a4a;
    -webkit-transition: .4s;
    transition: .4s;

    &_disabled {
      background-color: rgba(black, $alpha_filter);
      cursor: auto;
    }
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: $circle_diameter;
    width: $circle_diameter;
    left: $padding;
    bottom: $padding;
    background-color: #d6d6d6;
    transition: .4s;
    border-radius: 50%;

  }

  input:checked + &__slider {
    background-color: #7cd020;
  }

  input:checked + &__slider:before {
    transform: translateX($translateX);
    background-color: #fbfcfc;
  }

  &__rounded-number {
    margin: 0 10px;

    &_disabled {
      input {
        border-color: rgba(black, $alpha_filter) !important;
        color: rgba(black, $alpha_filter) !important;
      }

      input:disabled {
        background-color: white;
      }
    }

    input {
      border-radius: $input_height;
      border: 1px solid black;
      width: $input_width - 3*$padding;
      height: $input_height - 3*$padding;
      outline: none;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}