@import "../variables";

.panel-wrapper {
  width: $panel-height;
  height: $panel-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__row {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
}