@import "../variables";

.panel-container {
  &__row:nth-child(1){
    flex: 1 1 auto;
  }

  &__row:nth-child(2){
    flex: 0 0 $panel-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__row:nth-child(3){
    flex: 2 1 auto;
  }
}