@import "../variables";

.panel-wrapper {
  margin: 0 auto;
  width: $panel-height;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__row {
    width: 100%;
    flex: 1 1 auto;
  }
}