@import "../variables";

$animation_speed: 2s;

.svg-container {
  &__row:nth-child(1){
    flex: 7 1 auto;
  }

  &__row:nth-child(2){
    flex: 0 0 $diameter;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      display: block;
      height: $diameter;
      width: $diameter;
    }
  }

  &__row:nth-child(3){
    flex: 1 1 auto;
  }

  &__circle {
    stroke-width: $stroke-width;
    transform: rotate(-100grad);
    transform-origin: $diameter/2 $diameter/2;

    &_hidden {
      visibility: hidden;
    }

    &_animated {
      animation: rotate $animation_speed linear infinite;
    }

    @keyframes rotate  {
      from {
      }
      to {
        transform: rotate(300grad);
        transform-origin: $diameter/2 $diameter/2;
      }

    }
  }

  &__circle:nth-child(1) {
    stroke: #ecece9;
    stroke-dasharray: 101 100;
  }

  &__circle:nth-child(2) {
    stroke: #feda4d;
    stroke-dasharray: 50 100;
  }
}