/**
  Margin around all content.
 */
$container-margin: 20px;

/**
  Circle size.
 */
$diameter:160px;

/**
  Circle border size.
 */
$stroke-width: 8px;

/**
  Control panel size.
 */
$panel-height: 120px;
